<section class="vote">
  <div class="vote-wrapper" *ngIf="!hasVotingStarted">
    <div class="vote-header" >
      <h2>Room: {{roomName}}</h2>
      <button
        mat-raised-button
        color="primary"
        class="button--w-150 button--h-50"
        (click)="startVoting()"
      >Start Voting</button>
    </div>
    <div class="vote-members">
      <app-card *ngFor="let user of users" class="vote-members__card">
        <h4>{{user.name}}</h4>
        <p>joined</p>
      </app-card>
    </div>
  </div>
  <div class="cards-wrapper" *ngIf="hasVotingStarted && !showResults">
    <div class="cards-header">
      <h2>Pick a value</h2>
    </div>
    <div class="cards">
      <app-card *ngFor="let card of cardNumbers; let cardIndex = index" class="cards__padding pull-up" (click)="select(cardIndex)">
        <div class="card-number" [ngClass]="{'selected-card': selectedCardIndex === cardIndex}">
          <h6>{{card}}</h6>
        </div>
      </app-card>
    </div>
    <div class="cards-footer">
      <button
        mat-raised-button
        color="primary"
        class="button--w-150 button--h-50"
        (click)="stopVoting()"
      >Stop Voting</button>
    </div>
  </div>
  <div class="results" *ngIf="showResults">
    <div class="results-header" >
      <h2>Room: {{roomName}}</h2>
      <button
        *ngIf="!votingCompleted"
        mat-raised-button
        color="primary"
        class="button--w-150 button--h-50"
        (click)="forceStopVoting()"
      >Stop Voting</button>
      <button
        *ngIf="votingCompleted"
        mat-raised-button
        color="primary"
        class="button--w-150 button--h-50"
        (click)="startVoting()"
      >Start Voting</button>
    </div>
    <div class="results-avg">
      <mat-card class="results-avg__score">
        <p>Score</p>
        <p *ngIf="votingCompleted" class="results-avg__score-text">
          <span *ngIf="!getAvgScore().isScoreEqual">
            <span class="results-avg__score-text-avg">{{getAvgScore().avg}} ⇒ </span>
            <span class="results-avg__score-text-near">{{getAvgScore().nearestScore}}</span>
          </span>
          <span *ngIf="getAvgScore().isScoreEqual">{{getAvgScore().nearestScore}}</span>
        </p>
        <p *ngIf="!votingCompleted" class="results-avg__score-text">--</p>
      </mat-card>
    </div>
    <div class="results-container">
      <div class="users" *ngFor="let user of users">
        <h6 class="userName">{{user.name}}</h6>
        <app-card>
          <p class="voting" *ngIf="!user.votingCompleted && !votingCompleted">voting...</p>
          <p class="points" *ngIf="votingCompleted">{{user.points}}</p>
        </app-card>
      </div>
    </div>
  </div>
</section>
